<strong>Olá, {{ student }}</strong>
<p>Sua matrícula foi efetivada, veja os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan_title }}<br />
  <strong>Duração: </strong> {{ plan_duration }}<br />
  <strong>Valor: </strong>R$ {{ plan_price }}/Mês<br /><br />
  <strong>Inicio: </strong> {{ enrollment_start_date }}<br />
  <strong>Fim: </strong> {{ enrollment_end_date }}<br />
  <strong>Valor total: </strong> R$ {{ enrollment_price }}<br />
</p>
